@font-face {
    font-family: Clocker;
    src: url("Clocker.ttf");
  }
  @font-face {
    font-family: Octin;
    src: url("Octin.ttf");
  }
  @font-face {
    font-family: "Godfather";
    src: url("TheGodfather.ttf");
  }

body{
    background-color: blanchedalmond;
}
#clock{
    font-family:"Octin";
    color: #ff9900;
    font-size: 100px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#analog{
    background: #ffffff;
    font-family:"Octin";
    color: #1900ff;
    font-size: 100 px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    height: 300px;
    margin: 8% auto 0; 
    border-radius: 50%;
    border: 14px solid #ff009d;
}

#dot{
    width:14px;
    height:14px;
    border-radius: 50%;
    background:#000;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    margin:auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
}
#hour-hand{
    position:absolute;
    z-index: 10; 
    widows: 4px;
    height: 65px;
    background: blue;
    top: 79px;
    transform-origin: 50% 72px;
    left:50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}